{% extends 'core/base.html' %}
{% load static %}
{% block individualcss %}
<!-- <link rel="stylesheet" href="{% static 'skills/css/skills.css' %}"> -->
<link rel="stylesheet" href="{% static 'skills/css/bootstrap.min.css' %}">
{% endblock individualcss %}
{% block title %} Update {% endblock title %}
{% block skillsactive %}active{% endblock %}
{% block main %}
    <div class="container row">
        <div class="container-sm w-50">
            <h2 class="alert alert-success text-center">Update database</h2>
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                    <strong>{{message}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <input class="btn btn-success" type="submit" value="Update">
                <a class="btn btn-primary" href="{% url 'django' %}">Back</a>
            </form>
        </div>
    </div>
{% endblock %}
{% block script %}
<script src="{% static 'skills/js/jquery.js' %}"></script>
<script src="{% static 'skills/js/popper.js' %}"></script>
<script src="{% static 'skills/js/bootstrap.min.js' %}"></script>
{% endblock %}